doctype html
html 
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0') 
        title ONE
        style 
            include ../static/style.css 
            include ../static/resp.css
            
            
      
                
        
        
    body
        nav.navbar.navhrsp 
            ul.navlist.uvlistrsp 
                li #[a(href='/')|Home] 
                li #[a(href='/about')|About] 
                li #[a(href='/')|Services] 
                li #[a(href='/')|Contact Us] 
            div.buger 
                .line 
                .line 
                .line

    .sec1 
        h1.h2 This Template is for modifying 
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores magnam ad nesciunt, eligendi voluptatibus repellat officia soluta accusantium facere placeat ipsam, quia nemo molestiae, itaque assumenda. Nemo, voluptatibus in rem ut laudantium quisquam delectus!
        div.butt 
            button.btn Subscribe
            button.btn Login 
    .sec2 
        
            div.paras 
                div.h1 
                    h1 This is example1
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos architecto voluptates, repellendus neque atque suscipit dicta exercitationem ratione, fugiat saepe possimus, nemo consequuntur excepturi sequi. Autem fuga animi cumque sapiente, reiciendis adipisci provident ea repudiandae. Maiores, obcaecati reprehenderit provident fugiat illo soluta corrupti harum vel molestiae impedit ratione, cum sed ducimus deleniti, veritatis error quos? Inventore doloremque dolor, aliquid quis qui itaque quia, reprehenderit nesciunt culpa commodi obcaecati excepturi amet omnis tenetur et suscipit. Quidem minus sunt provident, voluptatum et harum ea iste dolorem at odit adipisci tenetur necessitatibus tempora!
                div.imglogo
                    img(src="../static/logo1.jpg", alt="logo1")

        
            div.paras.new1 
                div.h11 
                    h1 This is example2 
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos architecto voluptates, repellendus neque atque suscipit dicta exercitationem ratione, fugiat saepe possimus, nemo consequuntur excepturi sequi. Autem fuga animi cumque sapiente, reiciendis adipisci provident ea repudiandae. Maiores, obcaecati reprehenderit provident fugiat illo soluta corrupti harum vel molestiae impedit ratione, cum sed ducimus deleniti, veritatis error quos? Inventore doloremque dolor, aliquid quis qui itaque quia, reprehenderit nesciunt culpa commodi obcaecati excepturi amet omnis tenetur et suscipit. Quidem minus sunt provident, voluptatum et harum ea iste dolorem at odit adipisci tenetur necessitatibus tempora!
                div.imglogo 
                    img(src="../static/logo2.jpg", alt="logo2")
        
            div.paras
                div.h1 
                    h1 This is example3
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos architecto voluptates, repellendus neque atque suscipit dicta exercitationem ratione, fugiat saepe possimus, nemo consequuntur excepturi sequi. Autem fuga animi cumque sapiente, reiciendis adipisci provident ea repudiandae. Maiores, obcaecati reprehenderit provident fugiat illo soluta corrupti harum vel molestiae impedit ratione, cum sed ducimus deleniti, veritatis error quos? Inventore doloremque dolor, aliquid quis qui itaque quia, reprehenderit nesciunt culpa commodi obcaecati excepturi amet omnis tenetur et suscipit. Quidem minus sunt provident, voluptatum et harum ea iste dolorem at odit adipisci tenetur necessitatibus tempora!
                div.imglogo
                    img(src="../static/logo3.jpg", alt="logo3")
    footer.footer  Copyright &copy; all rights reserved
        
script(src="../static/resp.js") 

    
                
    